@charset "UTF-8";
/* CSS Document */

.topnavbaggrund {
	background-color: #4A68AD;
	padding: 35px 20px;
}

/* Styling af logo på menubar */

.loginbtn{
    width: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #6db2ab;
    color: black;
    padding: 5px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.topnavlogo a {
    float: left;
    display: block;
	width:150px;
	height: 70px; 

}
/* styling af menu bar */ 
.topnav a {
    float: right;
    display: block;
    color: #FFF;
    text-align: center;
    text-decoration: none;
	width:150px;
}

*{
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contentwrapper{
    width: 1224px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
}
/* Styling af login modal */ 

/* Login knap */
.btnlog{
    width: 80px;
    background-color: #6db2ab;
    padding: 4px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}
/* Luk knap */
button.anknap{
    width: 80px;
    background-color: #6db2ab;
    padding: 4px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif; 
}
/* Password */
input[type=password]{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
  
  }

/* Brugernavn */
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
  }
