{
box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 0px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);

    .color img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    }

    .color img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    }

    aside {
      float: right;
