<<<<<<< HEAD
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
=======
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
>>>>>>> 32717cd2bcbd83a10356008d19345ffdc7e8ee46
